.outCircle {
    z-index: 2;
    width: 1px;
    height: 10px;
    background-color: lightblue;
    left: 270px;
    position: absolute;
    top: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-color: blueviolet;
    transform: translateX(-200px);
    animation-name: drop;
    animation-duration: 2.8s;
    
  }
  .rotate {
    width: 1px;
    height: 1px;
    animation: circle 6s infinite linear;
  }
  .counterrotate {
    width: 10px;
    height: 15px;
    animation: ccircle 6s infinite linear;
  }
  .inner {
    width: 449px;
    height: 449px;
    background: rgba(255, 0, 0, 0);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 20px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 0, 0, 0);
    display: block;
  }
  @keyframes circle {
    from {
      -webkit-transform: rotateZ(0deg)
    }
    to {
      -webkit-transform: rotateZ(360deg)
    }
  }
  @keyframes ccircle {
    from {
      -webkit-transform: rotateZ(360deg)
    }
    to {
      -webkit-transform: rotateZ(0deg)
    }
  }

  @keyframes drop {
    0%   {transform: translateY(-100vh); visibility: hidden;}
    50%  {transform: translateY(-100vh);}
    100% {transform: translateY(0vh); transform: translateX(-200px); visibility: visible;}
  }